@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Domine:wght@500&family=Estonia&family=Grand+Hotel&family=Kanit:wght@100;200;500&family=Libre+Baskerville&family=Lobster&family=Montagu+Slab:wght@300&family=Oswald&family=Praise&family=Redressed&family=Righteous&family=Roboto:ital,wght@1,500&family=Secular+One&family=Supermercado+One&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Domine:wght@500&family=Estonia&family=Grand+Hotel&family=Kanit:wght@100;200;500&family=Libre+Baskerville&family=Lobster&family=Montagu+Slab:wght@300&family=Oswald&family=Praise&family=Redressed&family=Righteous&family=Roboto:ital,wght@1,500&family=Secular+One&family=Supermercado+One&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    background-color: white;
}

/* navbar */

ul li a {
    font-family: 'Oswald', sans-serif;
    /* color: black; */
    color: white;
}

.nav-link {
    /* color: black; */
    color: white;
}

.dropdown a {
    color: white;
    font-family: 'Oswald', sans-serif;
}

.dropdown ul li a {
    color: black;
}

.dropdown a:hover {
    background-color: rgb(241, 163, 19);
    color: black;
}

.nav-link:hover {
    background-color: rgb(241, 163, 19);
    color: black;
}

.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.contact-heading {
    text-align: center;
    margin: 40px 0;
    margin-bottom: 80px;
}

.contact-heading h1 {
    font-size: 2.2rem;
}

.contact form {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact form input,.contact form textarea {
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    padding: 10px;
    background-color: #e2e2e2;
    color: #1e1e1e;
    border-radius: 5px;
}

.contact form textarea {
    height: 150px;
}

.contact-btn {
    margin-top: 40px;
    background-color: orange;
    width: 100px;
    border-radius: 10px;
    height: 50px;
}