@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Domine:wght@500&family=Estonia&family=Grand+Hotel&family=Kanit:wght@100;200;500&family=Libre+Baskerville&family=Lobster&family=Montagu+Slab:wght@300&family=Oswald&family=Praise&family=Redressed&family=Righteous&family=Roboto:ital,wght@1,500&family=Secular+One&family=Supermercado+One&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Domine:wght@500&family=Estonia&family=Grand+Hotel&family=Kanit:wght@100;200;500&family=Libre+Baskerville&family=Lobster&family=Montagu+Slab:wght@300&family=Oswald&family=Praise&family=Redressed&family=Righteous&family=Roboto:ital,wght@1,500&family=Secular+One&family=Supermercado+One&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    overflow-x: hidden;
    background-color: black;
}

/* navbar */

ul li a {
    font-family: 'Oswald', sans-serif;
    /* color: black; */
    color: white;
}

.nav-link {
    /* color: black; */
    color: white;
}

.dropdown a {
    color: white;
    font-family: 'Oswald', sans-serif;
}

.dropdown ul li a {
    color: black;
}

.dropdown a:hover {
    background-color: rgb(241, 163, 19);
    color: black;
}

.nav-link:hover {
    background-color: rgb(241, 163, 19);
    color: black;
}